.main_card {
	padding-top: 18vh;
}

.tagline {
	font-size: 6rem;
	font-family: 'Playfair Display', serif;
	font-color: black;
	line-height: 90%;
	padding-bottom: 5vh;
}

.par {
	font-size: 12;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	font-color: #556d7c;
}

.email {
	width: 50%;
}

.signup-img {
	filter: brightness(0) invert(1);
	height: 90%;
	transform: rotate(180deg);
}

.btn-primary {
	width: 50px  !important;
	height: 40px  !important;
	box-shadow: 9px 8px 20px 4px rgba(0, 0, 0, 0.25)  !important;
	border-radius: 11px  !important;
	background-color: rgb(251,77,82)  !important;
	border: none !important;
}

.btn-primary:hover {
	box-shadow: 9px 8px 20px 4px rgba(0, 0, 0, 0.3) !important;
	border-radius: 10px !important;
	background-color: #f53d42 !important;
	border: none !important;
}

.form-control {
	font-family: 'Raleway', sans-serif !important;
	color: white !important;
	border-radius: 11px !important;
	background-color: rgb(251,77,82) !important;
	border-color: #f53d42 !important;
}

.form-control::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.form-control:focus {
	color: white !important;
	background-color: #f53d42 !important;
	border: none !important;
    outline: 0 !important;
    box-shadow: 9px 8px 20px 4px rgba(0, 0, 0, 0.25) !important;
}

.main_card {
	background-color: #fefdfc;
	width: 100vw;
	height: 100vh;
	border: 1px black;
}